<!DOCTYPE html>
<html lang="en">
<body>
    <form action = "/addapointment" >
        <center>
                <div class="table">
                        <h3 id="heading" class="card-header text-center font-weight-bold text-uppercase py-4">Your finale timetable:</h3>
                        <div class="card-body">
                            <div id="table" class="table-editable">
                                <span class="table-add float-right mb-3 mr-2">
                                    <a href="#!" class="text-success">
                                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <div id="main-div">
                                    <table id="table"  >
                                        
                                            <tr>
                                                <!--time table headers-->
                                                <th class="text-center">Time </th>
                                                <th class="text-center">Mon</th>
                                                <th class="text-center">Tue</th>
                                                <th class="text-center">Wed.</th>
                                                <th class="text-center">Thur.</th>
                                                <th class="text-center">Fri</th>
                                                <th class="text-center">Appointments</th>
                    
                                            </tr>
                                        
                                        <tbody>
                                            <tr>
                                                <!--11111111111111111111111111111111111111-->
                                                <td class="pt-3-half"><br />7.30 - 9.15<br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW122 <br />G1 201 <br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW222<br />E5 K01 <br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">No appontments added.</td>
                                            </tr>
                    
                                            <tr>
                                                <!--22222222222222222222222222222222222222-->
                                                <td class="pt-3-half"><br />9.30 - 10.45<br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">No appontments added.</td>
                    
                                            </tr>
                    
                                            <tr>
                                                <!--33333333333333333333333333333333333333-->
                                                <td class="pt-3-half"><br />11:00 - 12.45<br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half"> ITRW122<br />G1 201 <br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW222 <br />E5 K01 <br /></td>
                                                <td class="pt-3-half">No appontments added.</td>
                    
                                            </tr>
                                            <tr>
                                                <!--4444444444444444444444444444444444444444-->
                                                <td class="pt-3-half"><br />13.00 - 14.15<br /></td>
                                                <td class="pt-3-half">----</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW122<br />G1 201 <br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">No appontments added.</td>
                    
                                            </tr>
                    
                                            <tr>
                                                <!--5555555555555555555555555555555555555555-->
                                                <td class="pt-3-half"><br />14.30 - 15.45<br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW222 <BR/> E5 K01</td>
                                                <td class="pt-3-half"> ---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">No appontments added.</td>
                                            </tr>
                    
                                            <tr>
                                                <!--6666666666666666666666666666666666666666-->
                                                <td class="pt-3-half"> <br />16.00 - 17.45<br /></td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">ITRW222 <BR/> E5 K01 </td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">---</td>
                                                <td class="pt-3-half">No appontments added</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/gotimetable" class="btn btn-danger btn-sm" >Go to module code and appointment page</a>
                </center>

</html>