<!DOCTYPE html>
<html lang="en">
<head>
    <title>timetable</title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
 

  body  {
        background-image: url("https://image.shutterstock.com/image-illustration/paint-like-graphic-illustration-nice-260nw-1252427656.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        }

  table, th, td {
        border: 5px solid black;
        }
        .tabcontent {
            color: black;
            display: none;
            }

            h2{
                color: black;
                font-size: 29px;
            }

            .block{
                float: center;
                width: 35%;
                border: 5px solid black;
                padding: 10px;
                box-sizing: border-box;
                
                
            }
 </style>
</head>
<body>
    <form action = "/addclass" >
<center>
    
    <h2><u>If neccesary add appointment:</u></h2>
    <label>Appointment description:</label>
    <input type="text" id="inputText" name="appointment"/>
    <br/>
    <label>Enter Venue for appointment:</label>
    <input type="text" id="inputText1"/>
    <br/>
    <label>Appointment time:</label>
    <input type="text" id="inputText2"/>
    <br/>
    <button type="button" onclick="pushData();" >Add to timetable</button>
    
        <div class="table">
                <h3 id="heading" class="card-header text-center font-weight-bold text-uppercase py-4">Your final timetable:</h3>
                <div class="card-body">
                    <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2">
                            </a>
                        </span>
                        <div id="main-div">
                            <table id="table"  >
                                    <tr>
                                        <!--time table headers-->
                                        <th class="text-center">Time </th>
                                        <th class="text-center">Mon</th>
                                        <th class="text-center">Tue</th>
                                        <th class="text-center">Wed.</th>
                                        <th class="text-center">Thur.</th>
                                        <th class="text-center">Fri</th>
                            
                                        
                                    </tr>
                                   
                                <tbody>
                                        
                                    <tr>
                                        <!--11111111111111111111111111111111111111-->
                                        <td class="pt-3-half"><br />7.30 - 9.15<br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">ITRW122 <br />G1 201 <br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        
                                    </tr>
            
                                    <tr>
                                        <!--22222222222222222222222222222222222222-->
                                        <td class="pt-3-half"><br />9.30 - 10.45<br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        
            
                                    </tr>
            
                                    <tr>
                                        <!--33333333333333333333333333333333333333-->
                                        <td class="pt-3-half"><br />11:00 - 12.45<br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half"> ITRW122<br />G1 201 <br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">ITRW122 <br />G1 201 <br /></td>
                                        
            
                                    </tr>
                                    <tr>
                                        <!--4444444444444444444444444444444444444444-->
                                        <td class="pt-3-half"><br />13.00 - 14.15<br /></td>
                                        <td class="pt-3-half">----</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">ITRW122<br />G1 201 <br /></td>
                                        <td class="pt-3-half">---</td>
                                        
            
                                    </tr>
            
                                    <tr>
                                        <!--5555555555555555555555555555555555555555-->
                                        <td class="pt-3-half"><br />14.30 - 15.45<br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half"> ---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        
                                    </tr>
            
                                    <tr>
                                        <!--6666666666666666666666666666666666666666-->
                                        <td class="pt-3-half"> <br />16.00 - 17.45<br /></td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        <td class="pt-3-half">---</td>
                                        
                                    </tr>
                                </tbody>
                                <!-- <colgroup>
                                    <col span="6" style="background-color:red">
                                    <col style="background-color:yellow">
                                  </colgroup> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
                    <label>Appointment description:</label>
                    <br/>
                    <div class="block">
                    <p id="pText"></p>
                </div>
                <br/>
                <br/>
            <a href="/gotimetable" class="btn btn-danger btn-sm" >Go to module code and appointment page</a>
            <a href="/notification" class="btn btn-danger btn-sm" >Set notifications</a>
        </center>
        
        <script>
        function addappointment(){
                    var textbox1 = document.getElementById('appointment');
                    var paragraph1 = document.getElementById('ap1');

                    paragraph1.textContent = textbox1.value;
                }

                var myArr = [];

function pushData() {
    // get value from the input text
    var inputText = document.getElementById('inputText').value;
    var inputText1 = document.getElementById('inputText1').value;
    var inputText2 = document.getElementById('inputText2').value;

    // append data to the array
    myArr.push(inputText);
    myArr.push(inputText1);
    myArr.push(inputText2);
    
    var pval = "*";

    for (i = 0; i < myArr.length; i++) {
        pval = pval + myArr[i] + "<br/>";
    }

    // display array data
    document.getElementById('pText').innerHTML = pval;
}

        </script>
    </form>
</body>
</html>