<!DOCTYPE html>
<html lang="en">
<head>
    <title>timetable</title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }

  body  {
        background-image: url("https://image.shutterstock.com/image-illustration/paint-like-graphic-illustration-nice-260nw-1252427656.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        }

  table, th, td {
        border: 5px solid black;
        }
        .tabcontent {
            color: black;
            display: none;
            }

            h2{
                color: black;
                font-size: 29px;
            }

