<!DOCTYPE html>
<html>
    <head>

            <title>Your timetable</title>
            <meta charset="windows-1252">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>Login Register</title>
         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
         <link rel="stylesheet" 
         href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>
<meta name="viewport" content="width=device-width, initial-scale=0.5">
<style>
    .div1{
        width: 33.3%;
    }

</style>
<body>


    <div class="div1">
        <img src="https://www.thedailyvox.co.za/wp-content/uploads/2015/09/NWU-Pukke-2.jpg"/>

    </div>
<br/>
    <a href="/gotimetable" class="btn btn-danger btn-sm" >Go to module code and appointment page</a>
</body> 

</html>