<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:56px;
  }

  h1{
      font-size: 30px;
      color: black;
  }
  body  {
  background-image: url("https://i.pinimg.com/originals/53/c8/09/53c8094f4315f17faa57843d9b680222.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}


 </style>
</head>
<body>
    <center>
        <h1 class="1">Please choose method of accses:</head>
    </center>
 <div class="container" id="cont">
  <div class="jumbotron text-center" id="cont">
      <p>Already have an account:</p>
   <a href="/login" class="btn btn-lg btn-success">Login</a>
   <br/>
   <p>Don't have an account, signup:</p>
   <a href="/signup" class="btn btn-lg btn-info">Register</a>
  </div>
 </div>
</body>
</html>